h1{
    font-weight: bold;
    color: $primary-font;
 
}
h2{
    font-family: $title-font;
}
h5{
    color: lightblue;
}
h6{
    color:hotpink;
}
p{
    color: $secondary-font;
   font-family: $text-font;
}
.navbar-brand{
    font-family: 'silkscreen', sans-serif;
   
}