


#icon__html{
    color: $icon_html
  }
  #icon__css{
    color: $icon_css
  }
  #icon__sass{
    color: $icon_sass
  }
  #icon__bootstrap{
    color: $icon_bootstrap
  }
  
  #icon__git{
    color: $icon_git
  }
  #icon__js{color: $icon_javascript}
  #icon__vue{color: $icon_vue}
  .nav-link {
    color: $primary;
}
