$icon_html: #DD4B25;
$icon_css: #379AD6;
$icon_sass: #CD669A;
$icon_bootstrap: #533B78;
$icon_git: #F05030;
$icon_javascript: #E8D44D;
$icon_vue: #3FB27F;
$bg_color:  #180161;
$primary-font:#E8C5E5;
$primary: #E966A0;
$secondary: #D4ADFC;